/*------------------------------------*\
    $SITE HEADER
\*------------------------------------*/

.site-header {
    width: 100%;
    padding: 20px 0;
    background-color: #fcfcfc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.32);

    &__input {
        color: #000;
    }
}
